@media (max-width: 767px) {

.archivedHabits {
    
    background-color: #EDF7FB;
    margin: 0rem;
    padding: 0.5rem; 
       
    }

.singleArchivedHabit {
    display: flex;
    justify-content: space-around;
    margin: 0.25rem;
    padding: 0.25rem;
    
}

h3 h4{
    color: #174e66 !important;
} 

h3 {
    text-align: center;
}

}

@media (min-width: 768px) {

    .archivedHabits {
        
        
            background-color: #DAEEF7;
           
        }
    
    .singleArchivedHabit {
        display: flex;
        justify-content: space-around;
        margin: 0.25rem;
        padding: 0.25rem;
        
    }
    
    h3 h4{
        color: #174e66 !important;
    } 
    
    h3 {
        text-align: center;
    }
    
    }