@media (max-width: 767px) {

    section.notesRepsContainer {
        display: flex;
        justify-content: center;
        margin: 0rem;
        padding: 0rem;

    }

    .habitDetailsCard {
        background-color: white;
        margin: 1rem;
        padding: 1rem 1rem 2rem 1rem;
        border-radius: .4rem;
    }
    .dateFrequencyDetails {
        display: flex;
        flex-direction: column;
        padding: .5rem; 
    }

    .habitDetails {
        margin: .25rem .25rem 1rem .25rem;
        padding: .25rem;
    }

    .habitRepsList {
        max-height: 20rem;
        max-width: 10rem;
        overflow: scroll;
        flex-basis: 50%;
        margin: .5rem;
        padding: .25rem;
        background-color: #DAEEF7;
        border: solid .05rem #0f3444;
    }

    .notes {
        max-height: 20rem;
        max-width: 10rem;
        overflow: scroll;
        flex-basis: 50%;
        margin: .5rem;
        padding: .25rem;
        background-color: #DAEEF7;
        border: solid .05rem #0f3444;
    }


    h3 {
        color: #123d4f !important;
    }

    .modal {
        display: flex;
        background-color: white !important;
        justify-self: center !important;
        max-width: 70% !important;
    }
}

@media (min-width: 768px) {

    section.notesRepsContainer {
        display: flex;
        justify-content: center;
        margin: 0.5rem;
        padding: 0.5rem;
    
    }
    
    .habitDetailsCard {
        background-color: white;
        margin: 1rem;
        border-radius: 3px;
     
    }
    
    .habitDetails {
        margin: 5rem;
        padding: .25rem;
        max-width: 60%;
        justify-self: center;
        justify-content: center;
    }
    
    .habitRepsList {
        max-height: 20rem;
        max-width: 10rem;
        overflow: scroll;
        flex-basis: 50%;
        margin: .5rem;
        padding: .25rem;
        background-color: #DAEEF7;
        border: solid .05rem #0f3444;
    }
    
    .notes {
        max-height: 20rem;
        max-width: 10rem;
        overflow: scroll;
        flex-basis: 50%;
        margin: .5rem;
        padding: .25rem;
        background-color: #DAEEF7;
        border: solid .05rem #0f3444;
    }
    
    
    h3 {
        color: #123d4f !important;
      }
    
      .modal {
        display: flex;
        background-color: white !important;
        justify-self: center !important;
        max-width: 70% !important;
    }
}