.habitColor {
   
    height: 1rem;
    width: 1rem;
    margin: 0.2rem;

}

button.habitDetailsButton {
    margin: 0.25rem;
    padding: 0.25rem;
}

.dialog {
    max-height: 100rem !important;
    max-width: 50rem !important;
    background-color: #edf7fb !important;
    border-radius: 5% !important;
}

.habitCard {
        flex-basis: 20%;
        margin: .5rem;
        padding: .5rem;
        /* border: 1px solid black; */
        border-radius: 5%;

}

.habits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .habitName {
      background-color: white;
      padding: 0.0125rem;
      margin: 0.0125rem;
      border-radius: 5%;
      color: #123d4f !important;
  
  }
  a {
    text-decoration: none;
    color: #123d4f !important;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

   .modal {
       display: flex;
       background-color: white !important;
       justify-self: center !important;
       max-width: 70% !important;
   }

 

#redSalsa {
background-color: #F94144;
}
#orangeRed {
background-color: #F3722C;
}
#maizeCrayola {
background-color: #F9C74F;
}
#pistachio {
background-color: #90BE6D;
}
#yaleBlue {
background-color: #124E78;
}
#darkByzantium {
background-color: #69385C;
}
