section.notesRepsContainer {
    display: flex;

}

.habitDetails {
    margin: .25rem .25rem 1rem .25rem;
    padding: .25rem;
}

.habitRepsList {
    max-height: 300px;
    overflow: scroll;
    flex-basis: 50%;
    margin: .25rem;
    padding: .25rem;
}

.notes {
    max-height: 300px;
    overflow: scroll;
    flex-basis: 50%;
    margin: .25rem;
    padding: .25rem;
}



