@media (max-width: 767px) {

    .habitColor {
    
        height: 1rem;
        width: 1rem;
        margin: 0.2rem;

    }

    .habitCard--materialUIButton {
        max-width: 42px;
        max-height: 42px;
        padding: .025rem;
    }

    .habitCard--buttons {
        display: flex;
        flex-direction: row;
        
    }

    button.habitDetailsButton {
        margin: 0.25rem;
        padding: 0.25rem;
    }

    .dialog {
        max-height: 100rem !important;
        max-width: 50rem !important;
        background-color: #edf7fb !important;
        border-radius: 5% !important;
    }

    .habitCard {
            flex-basis: 40%;
            margin: 0rem .25rem .25rem .25rem;
            padding: .5rem;
            border-radius: .25rem;

    }

    .habits {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0rem 0rem 0rem 1.3rem;
    
    }

    .habitName {
        background-color: white;
        padding: .75rem 0rem .75rem 0.125rem;
        margin: 0.25rem;
        border-radius: 3px;
        color: #123d4f !important;
        width: 90%;
        display: flex;
        justify-content: center!important;
        align-items: center !important;
        position: relative !important;
    
    
    }
    .habitLink {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
    }


    a {
        text-decoration: none;
        color: #123d4f !important;
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .modal {
        display: flex;
        background-color: white !important;
        justify-self: center !important;
        max-width: 70% !important;
    }

    

    #red {
    background-color: #F94144;
    }
    #orange {
    background-color: #F3722C;
    }
    #yellow {
    background-color: #F9C74F;
    }
    #green {
    background-color: #90BE6D;
    }
    #blue {
    background-color: #124E78;
    }
    #purple {
    background-color: #69385C;
    }
}

@media (min-width: 768px) {


    .habitColor {
    
        height: 1rem;
        width: 1rem;
        margin: 0.2rem;

    }

    button.habitDetailsButton {
        margin: 0.25rem;
        padding: 0.25rem;
    }

    .dialog {
        max-height: 100rem !important;
        max-width: 50rem !important;
        background-color: #edf7fb !important;
        border-radius: 5% !important;
    }

    .habitCard {
            flex-basis: 20%;
            margin: .5rem;
            padding: .5rem;
            /* border: 1px solid black; */
            border-radius: 5%;

    }

    .habits {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2rem;
    }
    .habitCard--materialUIButton {
        max-width: 42px;
        max-height: 42px;
        padding: .025rem;
    }

    .habitCard--buttons {
        display: flex;
        flex-direction: row;
        
    }

    .habitName {
        background-color: white;
        padding: .75rem 0rem .75rem 0.125rem;
        margin: 0.25rem;
        border-radius: 3px;
        color: #123d4f !important;
        width: 90%;
        display: flex;
        justify-content: center!important;
        align-items: center !important;
        position: relative !important;
    
    
    }
    .habitLink {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
    }


    a {
        text-decoration: none;
        color: #123d4f !important;
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


    .modal {
        display: flex;
        background-color: white !important;
        justify-self: center !important;
        max-width: 70% !important;
    }

    

    #red{
    background-color: #F94144;
    }
    #orange {
    background-color: #F3722C;
    }
    #yellow {
    background-color: #F9C74F;
    }
    #green {
    background-color: #90BE6D;
    }
    #blue {
    background-color: #124E78;
    }
    #purple {
    background-color: #69385C;
    }
}