.habitColor {
   
    height: 1rem;
    width: 1rem;
    margin: 0.2rem;
    background-color: black;

}

button.habitDetailsButton {
    margin: 0.25rem;
    padding: 0.25rem;
}

.dialog {
    max-height: 100rem !important;
    background-color: white !important;
    border-radius: 5% !important;
}

.habitCard {
        flex-basis: 28%;
        margin: .5rem;
        padding: .5rem;
        /* border: 1px solid black; */
        border-radius: 3%;

}

.habits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

 

#redSalsa {
background-color: #F94144;
}
#orangeRed {
background-color: #F3722C;
}
#maizeCrayola {
background-color: #F9C74F;
}
#pistachio {
background-color: #90BE6D;
}
#yaleBlue {
background-color: #124E78;
}
#darkByzantium {
background-color: #69385C;
}
