@media (max-width: 767px) {

button.nav {
    margin: .25rem;
    padding: .25rem;
}

}

@media (min-width: 768px) {

    button.nav {
        margin: .25rem;
        padding: .25rem;
    }
    
    }