@media (max-width: 767px) {
.modal-dialog {
    padding-left: 1rem !important

}

.modal-content {
    padding: 1rem !important
}
.noteFormInput {
    width: 400px !important;
}

.NoteForm {
    padding: 1rem;

}

}

@media (min-width: 768px) {
    .modal-dialog {
        padding-left: 1rem !important
    
    }
    
    .modal-content {
        padding: 1rem !important
    }
    .noteFormInput {
        width: 400px !important;
    }
    
    .NoteForm {
        padding: 1rem;
    
    }
    }