@media (max-width: 767px) {

.habitProgress {
    margin: 1rem;
    padding: 0.rem 0rem .5rem 0rem;

}

.singleHabitProgress {
        display: flex;
        flex-wrap: wrap;  
}

.singleHabitRep {
   
    height: 1rem;
    width: 1rem;
    margin: 0.2rem 0.2rem;      
}
/* .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
     border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
} */

#red {
    background-color: #F94144;
}
#orange {
    background-color: #F3722C;
}
#yellow {
    background-color: #F9C74F;
}
#green {
    background-color: #90BE6D;
}
#blue {
    background-color: #124E78;
}
#purple {
    background-color: #69385C;
}

}

@media (min-width: 768px) {

    .habitProgress {
        margin: 2rem;
        padding: 0.rem 0rem .5rem 0rem;
    
    }
    
    .singleHabitProgress {
    
            display: flex;
            flex-wrap: wrap;
           
        
    
    }
    
    .singleHabitRep {
       
            height: 1rem;
            width: 1rem;
            margin: 0.2rem 0.2rem;
           
        
    }
    
    #red {
        background-color: #F94144;
    }
    #orange {
        background-color: #F3722C;
    }
    #yellow {
        background-color: #F9C74F;
    }
    #green {
        background-color: #90BE6D;
    }
    #blue {
        background-color: #124E78;
    }
    #purple {
        background-color: #69385C;
    }
    
    }