body {
  margin: 0rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
 text-decoration: none;
 color: black;
}

header {
  margin: 0rem;
  padding: 1rem 1rem 2rem 1rem;
  background-color: white;
  height: 5rem;
  color: #247ba0;
}

button {
  background-color: #247ba0;
  color: #e0fbfc;
  border: none !important;
  margin: .25rem !important;
  padding: .25rem !important;
  border-radius: 10% !important;
  font-weight: bold;
}
